@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  --sans-serif: "Inter", sans-serif;
  --serif: "EB Garamond", "LibreBaskervilleRegular", serif;
  --baskerville: "LibreBaskervilleRegular", serif;
  --width-site: 900px;
  --component: #f7f7f7;
  --bgmain: #f9f2e8;
  --black1: #3d4338;
  --black2: #3a3a3c;
  --black3: #8e8e93;
  --black4: #e5e5ea;
  --transition1: 400ms cubic-bezier(0.4, 0, 0.25, 1);
  --shadow-header: 0 0 50px rgb(206 212 218 / 70%), 0 0 0 1px rgb(0 0 0 / 5%), 0 0px 4px rgb(0 0 0 / 10%);
  --shadow-color: rgb(0 0 0 / 0.06);
  /*  Fonts and line-height

  *  ─────────────────────────────────── */
  --fs-body: clamp(17px, 1.0625rem, 34px);
  --fs-h1: clamp(48px, 3rem, 64px);
  --fs-h2: clamp(32px, 2rem, 52.704px);
  --fs-h3: clamp(20.704px, 1.294rem, 41.408px);
  --fs-h4: clamp(18.72px, 1.17rem, 37.44px);
  --lh-body: clamp(25px, 1.47059em, 50px);
  --lh-title: 1.6em;
  /*  General
  *  ─────────────────────────────────── */
  --oc-white: #ffffff;
  --oc-white-rgb: 255, 255, 255;
  --oc-black: #000000;
  --oc-black-rgb: 0, 0, 0;
  /*  Gray
  *  ─────────────────────────────────── */
  --oc-gray-0: #f8f9fa;
  --oc-gray-0-rgb: 248, 249, 250;
  --oc-gray-1: #f1f3f5;
  --oc-gray-1-rgb: 241, 243, 245;
  --oc-gray-2: #e9ecef;
  --oc-gray-2-rgb: 233, 236, 239;
  --oc-gray-3: #dee2e6;
  --oc-gray-3-rgb: 222, 226, 230;
  --oc-gray-4: #ced4da;
  --oc-gray-4-rgb: 206, 212, 218;
  --oc-gray-5: #adb5bd;
  --oc-gray-5-rgb: 173, 181, 189;
  --oc-gray-6: #868e96;
  --oc-gray-6-rgb: 134, 142, 150;
  --oc-gray-7: #495057;
  --oc-gray-7-rgb: 73, 80, 87;
  --oc-gray-8: #343a40;
  --oc-gray-8-rgb: 52, 58, 64;
  --oc-gray-9: #212529;
  --oc-gray-9-rgb: 33, 37, 41;
  /*  Red
  *  ─────────────────────────────────── */
  --oc-red-0: #fff5f5;
  --oc-red-0-rgb: 255, 245, 245;
  --oc-red-1: #ffe3e3;
  --oc-red-1-rgb: 255, 227, 227;
  --oc-red-2: #ffc9c9;
  --oc-red-2-rgb: 255, 201, 201;
  --oc-red-3: #ffa8a8;
  --oc-red-3-rgb: 255, 168, 168;
  --oc-red-4: #ff8787;
  --oc-red-4-rgb: 255, 135, 135;
  --oc-red-5: #ff6b6b;
  --oc-red-5-rgb: 255, 107, 107;
  --oc-red-6: #fa5252;
  --oc-red-6-rgb: 250, 82, 82;
  --oc-red-7: #f03e3e;
  --oc-red-7-rgb: 240, 62, 62;
  --oc-red-8: #e03131;
  --oc-red-8-rgb: 224, 49, 49;
  --oc-red-9: #c92a2a;
  --oc-red-9-rgb: 201, 42, 42;
  /*  Pink
  *  ─────────────────────────────────── */
  --oc-pink-0: #fff0f6;
  --oc-pink-0-rgb: 255, 240, 246;
  --oc-pink-1: #ffdeeb;
  --oc-pink-1-rgb: 255, 222, 235;
  --oc-pink-2: #fcc2d7;
  --oc-pink-2-rgb: 252, 194, 215;
  --oc-pink-3: #faa2c1;
  --oc-pink-3-rgb: 250, 162, 193;
  --oc-pink-4: #f783ac;
  --oc-pink-4-rgb: 247, 131, 172;
  --oc-pink-5: #f06595;
  --oc-pink-5-rgb: 240, 101, 149;
  --oc-pink-6: #e64980;
  --oc-pink-6-rgb: 230, 73, 128;
  --oc-pink-7: #d6336c;
  --oc-pink-7-rgb: 214, 51, 108;
  --oc-pink-8: #c2255c;
  --oc-pink-8-rgb: 194, 37, 92;
  --oc-pink-9: #a61e4d;
  --oc-pink-9-rgb: 166, 30, 77;
  /*  Grape
  *  ─────────────────────────────────── */
  --oc-grape-0: #f8f0fc;
  --oc-grape-0-rgb: 248, 240, 252;
  --oc-grape-1: #f3d9fa;
  --oc-grape-1-rgb: 243, 217, 250;
  --oc-grape-2: #eebefa;
  --oc-grape-2-rgb: 238, 190, 250;
  --oc-grape-3: #e599f7;
  --oc-grape-3-rgb: 229, 153, 247;
  --oc-grape-4: #da77f2;
  --oc-grape-4-rgb: 218, 119, 242;
  --oc-grape-5: #cc5de8;
  --oc-grape-5-rgb: 204, 93, 232;
  --oc-grape-6: #be4bdb;
  --oc-grape-6-rgb: 190, 75, 219;
  --oc-grape-7: #ae3ec9;
  --oc-grape-7-rgb: 174, 62, 201;
  --oc-grape-8: #9c36b5;
  --oc-grape-8-rgb: 156, 54, 181;
  --oc-grape-9: #862e9c;
  --oc-grape-9-rgb: 134, 46, 156;
  /*  Violet
  *  ─────────────────────────────────── */
  --oc-violet-0: #f3f0ff;
  --oc-violet-0-rgb: 243, 240, 255;
  --oc-violet-1: #e5dbff;
  --oc-violet-1-rgb: 229, 219, 255;
  --oc-violet-2: #d0bfff;
  --oc-violet-2-rgb: 208, 191, 255;
  --oc-violet-3: #b197fc;
  --oc-violet-3-rgb: 177, 151, 252;
  --oc-violet-4: #9775fa;
  --oc-violet-4-rgb: 151, 117, 250;
  --oc-violet-5: #845ef7;
  --oc-violet-5-rgb: 132, 94, 247;
  --oc-violet-6: #7950f2;
  --oc-violet-6-rgb: 121, 80, 242;
  --oc-violet-7: #7048e8;
  --oc-violet-7-rgb: 112, 72, 232;
  --oc-violet-8: #6741d9;
  --oc-violet-8-rgb: 103, 65, 217;
  --oc-violet-9: #5f3dc4;
  --oc-violet-9-rgb: 95, 61, 196;
  /*  Indigo
  *  ─────────────────────────────────── */
  --oc-indigo-0: #edf2ff;
  --oc-indigo-0-rgb: 237, 242, 255;
  --oc-indigo-1: #dbe4ff;
  --oc-indigo-1-rgb: 219, 228, 255;
  --oc-indigo-2: #bac8ff;
  --oc-indigo-2-rgb: 186, 200, 255;
  --oc-indigo-3: #91a7ff;
  --oc-indigo-3-rgb: 145, 167, 255;
  --oc-indigo-4: #748ffc;
  --oc-indigo-4-rgb: 116, 143, 252;
  --oc-indigo-5: #5c7cfa;
  --oc-indigo-5-rgb: 92, 124, 250;
  --oc-indigo-6: #4c6ef5;
  --oc-indigo-6-rgb: 76, 110, 245;
  --oc-indigo-7: #4263eb;
  --oc-indigo-7-rgb: 66, 99, 235;
  --oc-indigo-8: #3b5bdb;
  --oc-indigo-8-rgb: 59, 91, 219;
  --oc-indigo-9: #364fc7;
  --oc-indigo-9-rgb: 54, 79, 199;
  /*  Blue
  *  ─────────────────────────────────── */
  --oc-blue-0: #e7f5ff;
  --oc-blue-0-rgb: 231, 245, 255;
  --oc-blue-1: #d0ebff;
  --oc-blue-1-rgb: 208, 235, 255;
  --oc-blue-2: #a5d8ff;
  --oc-blue-2-rgb: 165, 216, 255;
  --oc-blue-3: #74c0fc;
  --oc-blue-3-rgb: 116, 192, 252;
  --oc-blue-4: #4dabf7;
  --oc-blue-4-rgb: 77, 171, 247;
  --oc-blue-5: #339af0;
  --oc-blue-5-rgb: 51, 154, 240;
  --oc-blue-6: #228be6;
  --oc-blue-6-rgb: 34, 139, 230;
  --oc-blue-7: #1c7ed6;
  --oc-blue-7-rgb: 28, 126, 214;
  --oc-blue-8: #1971c2;
  --oc-blue-8-rgb: 25, 113, 194;
  --oc-blue-9: #1864ab;
  --oc-blue-9-rgb: 24, 100, 171;
  /*  Cyan
  *  ─────────────────────────────────── */
  --oc-cyan-0: #e3fafc;
  --oc-cyan-0-rgb: 227, 250, 252;
  --oc-cyan-1: #c5f6fa;
  --oc-cyan-1-rgb: 197, 246, 250;
  --oc-cyan-2: #99e9f2;
  --oc-cyan-2-rgb: 153, 233, 242;
  --oc-cyan-3: #66d9e8;
  --oc-cyan-3-rgb: 102, 217, 232;
  --oc-cyan-4: #3bc9db;
  --oc-cyan-4-rgb: 59, 201, 219;
  --oc-cyan-5: #22b8cf;
  --oc-cyan-5-rgb: 34, 184, 207;
  --oc-cyan-6: #15aabf;
  --oc-cyan-6-rgb: 21, 170, 191;
  --oc-cyan-7: #1098ad;
  --oc-cyan-7-rgb: 16, 152, 173;
  --oc-cyan-8: #0c8599;
  --oc-cyan-8-rgb: 12, 133, 153;
  --oc-cyan-9: #0b7285;
  --oc-cyan-9-rgb: 11, 114, 133;
  /*  Teal
  *  ─────────────────────────────────── */
  --oc-teal-0: #e6fcf5;
  --oc-teal-0-rgb: 230, 252, 245;
  --oc-teal-1: #c3fae8;
  --oc-teal-1-rgb: 195, 250, 232;
  --oc-teal-2: #96f2d7;
  --oc-teal-2-rgb: 150, 242, 215;
  --oc-teal-3: #63e6be;
  --oc-teal-3-rgb: 99, 230, 190;
  --oc-teal-4: #38d9a9;
  --oc-teal-4-rgb: 56, 217, 169;
  --oc-teal-5: #20c997;
  --oc-teal-5-rgb: 32, 201, 151;
  --oc-teal-6: #12b886;
  --oc-teal-6-rgb: 18, 184, 134;
  --oc-teal-7: #0ca678;
  --oc-teal-7-rgb: 12, 166, 120;
  --oc-teal-8: #099268;
  --oc-teal-8-rgb: 9, 146, 104;
  --oc-teal-9: #087f5b;
  --oc-teal-9-rgb: 8, 127, 91;
  /*  Green
  *  ─────────────────────────────────── */
  --oc-green-0: #ebfbee;
  --oc-green-0-rgb: 235, 251, 238;
  --oc-green-1: #d3f9d8;
  --oc-green-1-rgb: 211, 249, 216;
  --oc-green-2: #b2f2bb;
  --oc-green-2-rgb: 178, 242, 187;
  --oc-green-3: #8ce99a;
  --oc-green-3-rgb: 140, 233, 154;
  --oc-green-4: #69db7c;
  --oc-green-4-rgb: 105, 219, 124;
  --oc-green-5: #51cf66;
  --oc-green-5-rgb: 81, 207, 102;
  --oc-green-6: #40c057;
  --oc-green-6-rgb: 64, 192, 87;
  --oc-green-7: #37b24d;
  --oc-green-7-rgb: 55, 178, 77;
  --oc-green-8: #2f9e44;
  --oc-green-8-rgb: 47, 158, 68;
  --oc-green-9: #2b8a3e;
  --oc-green-9-rgb: 43, 138, 62;
  /*  Lime
  *  ─────────────────────────────────── */
  --oc-lime-0: #f4fce3;
  --oc-lime-0-rgb: 244, 252, 227;
  --oc-lime-1: #e9fac8;
  --oc-lime-1-rgb: 233, 250, 200;
  --oc-lime-2: #d8f5a2;
  --oc-lime-2-rgb: 216, 245, 162;
  --oc-lime-3: #c0eb75;
  --oc-lime-3-rgb: 192, 235, 117;
  --oc-lime-4: #a9e34b;
  --oc-lime-4-rgb: 169, 227, 75;
  --oc-lime-5: #94d82d;
  --oc-lime-5-rgb: 148, 216, 45;
  --oc-lime-6: #82c91e;
  --oc-lime-6-rgb: 130, 201, 30;
  --oc-lime-7: #74b816;
  --oc-lime-7-rgb: 116, 184, 22;
  --oc-lime-8: #66a80f;
  --oc-lime-8-rgb: 102, 168, 15;
  --oc-lime-9: #5c940d;
  --oc-lime-9-rgb: 92, 148, 13;
  /*  Yellow
  *  ─────────────────────────────────── */
  --oc-yellow-0: #fff9db;
  --oc-yellow-0-rgb: 255, 249, 219;
  --oc-yellow-1: #fff3bf;
  --oc-yellow-1-rgb: 255, 243, 191;
  --oc-yellow-2: #ffec99;
  --oc-yellow-2-rgb: 255, 236, 153;
  --oc-yellow-3: #ffe066;
  --oc-yellow-3-rgb: 255, 224, 102;
  --oc-yellow-4: #ffd43b;
  --oc-yellow-4-rgb: 255, 212, 59;
  --oc-yellow-5: #fcc419;
  --oc-yellow-5-rgb: 252, 196, 25;
  --oc-yellow-6: #fab005;
  --oc-yellow-6-rgb: 250, 176, 5;
  --oc-yellow-7: #f59f00;
  --oc-yellow-7-rgb: 245, 159, 0;
  --oc-yellow-8: #f08c00;
  --oc-yellow-8-rgb: 240, 140, 0;
  --oc-yellow-9: #e67700;
  --oc-yellow-9-rgb: 230, 119, 0;
  /*  Orange
  *  ─────────────────────────────────── */
  --oc-orange-0: #fff4e6;
  --oc-orange-0-rgb: 255, 244, 230;
  --oc-orange-1: #ffe8cc;
  --oc-orange-1-rgb: 255, 232, 204;
  --oc-orange-2: #ffd8a8;
  --oc-orange-2-rgb: 255, 216, 168;
  --oc-orange-3: #ffc078;
  --oc-orange-3-rgb: 255, 192, 120;
  --oc-orange-4: #ffa94d;
  --oc-orange-4-rgb: 255, 169, 77;
  --oc-orange-5: #ff922b;
  --oc-orange-5-rgb: 255, 146, 43;
  --oc-orange-6: #fd7e14;
  --oc-orange-6-rgb: 253, 126, 20;
  --oc-orange-7: #f76707;
  --oc-orange-7-rgb: 247, 103, 7;
  --oc-orange-8: #e8590c;
  --oc-orange-8-rgb: 232, 89, 12;
  --oc-orange-9: #d9480f;
  --oc-orange-9-rgb: 217, 72, 15;
}
@media only screen and (max-width: 600px) {
  :root {
    --fs-h2: clamp(20.704px, 1.294rem, 41.408px);
    --fs-h1: clamp(32px, 2rem, 52.704px);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: 2px dashed var(--black1);
}

html {
  font-size: var(--fs-body);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--sans-serif);
  margin: 0;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: 400;
  letter-spacing: -0.022em;
  color: var(--black1);
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--bgmain);
  position: relative;
}
body:before {
  z-index: -1;
  content: "";
  opacity: 0.04;
  background-image: url("https://images.unsplash.com/photo-1521264811721-1e0c116e5b5a?q=80&w=6542&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D");
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: -100px 0 0 0;
}

/* ------------------------ Style Text ------------------------ */
@font-face {
  font-family: "LibreBaskervilleRegular";
  src: url("fonts/LibreBaskerville-Regular.ttf");
}
@font-face {
  font-family: "LibreBaskervilleItalic";
  src: url("fonts/LibreBaskerville-Italic.ttf");
}
@font-face {
  font-family: "LibreBaskervilleBold";
  src: url("fonts/LibreBaskerville-Bold.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-VariableFont_opsz,wght.ttf");
}
@font-face {
  font-family: "Giarek";
  src: url("fonts/Giarek-DemoVersion-Regular.otf");
}
h1,
h2,
h4 {
  line-height: var(--lh-title);
  padding: 0;
  margin: 0;
  font-family: var(--serif);
  word-break: break-all;
}

button,
.mailto {
  width: -moz-fit-content;
  width: fit-content;
  height: 48px;
  border: 2px solid var(--black4);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  font-family: var(--baskerville);
  font-size: 20px;
  z-index: 40;
  outline: none;
  text-decoration: none;
  color: var(--black1);
  font-weight: 600;
}
@media (hover: hover) {
  button:hover,
  .mailto:hover {
    cursor: pointer;
    background-color: #bfcbbb;
    text-decoration: none;
  }
}
button:focus, button:active,
.mailto:focus,
.mailto:active {
  border: 2px solid #667960;
  outline: none;
}

a {
  color: var(--black1);
  text-decoration: none;
  text-decoration-color: var(--black3);
}
a:visited {
  color: var(--black1);
}
@media (hover: hover) {
  a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
  }
}

.section-titre {
  margin: 40px auto 80px auto;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  gap: 24px;
}
@media only screen and (max-width: 600px) {
  .section-titre {
    grid-template-columns: 1fr;
  }
}
.section-titre img {
  width: 100%;
  max-width: 100px;
  height: auto;
}
.section-titre:before {
  position: absolute;
  inset: 0 auto 0 0;
  width: 6px;
  border-radius: 0px;
  height: 100%;
  background-color: #98aa83;
}
.section-titre .text-titre {
  padding: 0;
  position: relative;
}
.section-titre .text-titre h1 {
  font-weight: 500;
  font-size: var(--fs-h1);
  line-height: 50px;
}
.section-titre .text-titre h2 {
  line-height: 34px;
}

h2 {
  font-weight: 500;
  font-size: var(--fs-h2);
  font-family: var(--serif);
}

h3 {
  line-height: var(--lh-title);
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: var(--fs-h3);
}

h4 {
  font-weight: 500;
  font-size: var(--fs-h4);
}

p {
  font-weight: 400;
  font-size: var(--fs-body);
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  z-index: 100;
  position: fixed;
  height: 80px;
  inset: 0 0 auto 0;
  width: 100%;
  box-shadow: var(--shadow-header);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
}
header .contain-elements {
  margin: auto;
  max-width: var(--width-site);
  width: 100%;
  height: auto;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .contain-elements .logo {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .contain-elements .logo img {
  height: 56px;
}
header .contain-elements .right-container {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
}
header .contain-elements .right-container img {
  width: auto;
  max-width: 100px;
  height: 64px;
}
@media only screen and (max-width: 1000px) {
  header .contain-elements .right-container a {
    display: none;
  }
}

main {
  margin: 104px 0 0 0;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 200px;
}
main section {
  max-width: var(--width-site);
  padding: 24px;
  border-radius: 0;
  margin: 0 auto auto auto;
  width: 100%;
}

.italic {
  font-style: italic;
}

.section-intro {
  background: linear-gradient(300deg, var(--bgmain), var(--component));
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 2px solid #eee1d5;
}
@media only screen and (max-width: 1000px) {
  .section-intro {
    margin: 0 16px;
    width: calc(100% - 48px);
    padding: 16px;
  }
}
.section-intro .para-intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section-intro .para-photo {
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
}
@media only screen and (max-width: 800px) {
  .section-intro .para-photo {
    grid-template-columns: 1fr;
  }
}
.section-intro .para-photo .img-container {
  border-radius: 0;
  margin: 12px 0 0 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
.section-intro .para-photo .img-container img {
  width: 100%;
  max-width: 200px;
  height: auto;
  z-index: 2;
  display: block;
  position: relative;
}
.section-intro .para-photo .para-texte-photo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section-intro .paragraphe-intro-important {
  padding: 0;
  border-radius: 0;
  font-weight: 500;
  font-size: var(--fs-h3);
  line-height: var(--lh-title);
  font-family: "EB Garamond", serif;
}
.section-intro .modalite-emploi-div {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 0;
}
.section-intro .modalite-emploi-div .img-container {
  background-color: #676d58;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-intro .modalite-emploi-div img {
  height: auto;
  width: 100%;
}
.section-intro .modalite-emploi {
  background-color: #eaece1;
  padding: 16px;
}

.grand-titre {
  flex-direction: column;
  gap: 0;
  text-align: center;
  justify-content: center;
  margin-top: 24px;
  position: relative;
  z-index: 10;
}
.grand-titre h2 {
  font-size: var(--fs-h1);
  line-height: 48px;
}
.grand-titre h3 {
  line-height: 24px;
}
.grand-titre p {
  font-family: var(--baskerville);
}

.section-services {
  margin-top: 64px;
}
.section-services .grand-titre {
  padding: 24px 0 0 0;
  max-width: var(--width-site);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 24px;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .section-services .grand-titre {
    grid-template-columns: 1fr;
  }
}
.section-services .grand-titre img {
  width: 80px;
  height: auto;
}
.section-services .grand-titre p {
  margin-top: 16px;
}
.section-services .card-education2 {
  background: linear-gradient(300deg, var(--bgmain), var(--component));
  margin: 24px 0 80px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  align-items: flex-start;
  padding: 0;
  border-radius: 0;
  border: 4px solid #eee1d5;
}
.section-services .card-education2 .image-education {
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #bee0d6;
  border-radius: 0;
  background-image: url("https://images.unsplash.com/photo-1526248283201-fafd30eb2b90?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 40px;
}
.section-services .card-education2 .image-education img {
  width: 80px;
  height: auto;
  z-index: 2;
}
.section-services .card-education2 .image-education:before {
  content: "";
  border-radius: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 16, 14, 0.4);
  position: absolute;
  inset: 0;
}
.section-services .card-education2 .image-education:after {
  content: "";
  border-radius: 0;
  z-index: 1;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: rgba(55, 33, 20, 0.83);
  position: absolute;
  inset: 20px 20px 20px 20px;
  border: 4px solid #8d5d41;
}
.section-services .card-education2 .image-education h3 {
  position: relative;
  display: block;
  z-index: 2;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 18px;
}
.section-services .card-education2 .image-education h2 {
  font-size: 72px;
  line-height: 72px;
  position: relative;
  display: block;
  z-index: 2;
  color: white;
  font-weight: 500;
  letter-spacing: -1px;
}
@media only screen and (max-width: 600px) {
  .section-services .card-education2 .image-education h2 {
    font-size: var(--fs-h2);
    line-height: var(--fs-h2);
  }
}
.section-services .card-education2 .contenu-texte {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  border-radius: 0 0 80px 80x;
}
.section-services .card-education2 .contenu-texte h2 {
  font-weight: 700;
}
.section-services .card-education2 .tarifs {
  border-left: 8px solid #125637;
  padding: 0 16px;
  margin: 0 24px 16px 24px;
  font-family: var(--baskerville);
}
.section-services .card-accompagnements {
  background: linear-gradient(120deg, var(--bgmain), var(--component));
  margin: 80px 0 80px 0;
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 24px;
  align-items: flex-start;
  padding: 0;
  border: 4px solid #dbdde8;
}
@media only screen and (max-width: 1400px) {
  .section-services .card-accompagnements {
    grid-template-columns: 1fr;
  }
}
.section-services .card-accompagnements .image-accompagnement {
  width: 100%;
  height: 100%;
  background-color: #bee0d6;
  border-radius: 2px;
  background-image: url("https://images.unsplash.com/photo-1707902665498-a202981fb5ac?q=80&w=3073&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
}
@media only screen and (max-width: 1400px) {
  .section-services .card-accompagnements .image-accompagnement {
    height: 80px;
    display: none;
  }
}
.section-services .card-accompagnements .contenu-texte {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 16px 16px 0;
}
@media only screen and (max-width: 1400px) {
  .section-services .card-accompagnements .contenu-texte {
    padding: 24px;
  }
}
.section-services .card-accompagnements .contenu-texte .acc-img {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.section-services .card-accompagnements .contenu-texte .acc-img img {
  width: 80px;
  height: auto;
}
.section-services .card-accompagnements .contenu-texte h2 {
  font-size: 48px;
  line-height: 48px;
  position: relative;
  display: block;
  z-index: 2;
  font-weight: 500;
  letter-spacing: -1px;
}
@media only screen and (max-width: 600px) {
  .section-services .card-accompagnements .contenu-texte h2 {
    font-size: var(--fs-h2);
    line-height: var(--fs-h2);
  }
}
.section-services .card-accompagnements .contenu-texte .tarifs {
  border-left: 8px solid #00234b;
  padding: 0 16px 0 16px;
  margin: 16px 8px 0 0;
  font-family: var(--baskerville);
}
.section-services .card-concierge2 {
  background-color: rgba(var(--oc-pink-1-rgb), 0.2);
  margin: 80px 0 0 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  align-items: flex-start;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1529651737248-dad5e287768e?q=80&w=3765&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid #986771;
}
.section-services .card-concierge2 .contenu-texte {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  margin: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}
.section-services .card-concierge2 .contenu-texte .acc-img {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.section-services .card-concierge2 .contenu-texte .acc-img img {
  width: 80px;
  height: auto;
}
.section-services .card-concierge2 .contenu-texte h2 {
  font-size: 56px;
  line-height: 56px;
  position: relative;
  display: block;
  z-index: 2;
  font-weight: 500;
  letter-spacing: -1px;
}
@media only screen and (max-width: 600px) {
  .section-services .card-concierge2 .contenu-texte h2 {
    font-size: var(--fs-h2);
    line-height: var(--fs-h2);
  }
}
.section-services .card-concierge2 .contenu-texte .tarifs {
  padding: 0 16px;
  margin: 16px 0 0 0;
  border-left: 8px solid #986771;
  font-family: var(--baskerville);
}

.section-clients {
  max-width: 100%;
  padding: 24px 0 0 0;
  margin: 80px auto 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(0deg, #e9eceb 0%, #ebe8de 100%);
}
.section-clients::before {
  content: "";
  position: absolute;
  inset: 0 auto 0 -20px;
  width: 50px;
  height: 100%;
  background: linear-gradient(0deg, #e9eceb, #ebe8de);
  filter: blur(16px);
  z-index: 20;
  display: none;
}
.section-clients::after {
  content: "";
  position: absolute;
  inset: 0 -20px 0 auto;
  width: 50px;
  height: 100%;
  background: linear-gradient(0deg, #e9eceb, #ebe8de);
  filter: blur(16px);
  z-index: 20;
  display: none;
}
.section-clients .grand-titre {
  padding: 24px 24px 0 24px;
  max-width: var(--width-site);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 24px;
  text-align: left;
}
.section-clients .grand-titre img {
  width: 80px;
  height: auto;
}
.section-clients .grand-titre p {
  margin-top: 16px;
}
@media only screen and (max-width: 600px) {
  .section-clients .grand-titre {
    grid-template-columns: 1fr;
  }
}
.section-clients .contain-all {
  position: relative;
}
.section-clients .contain-all .contain-buttons {
  margin: 24px auto 8px auto;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  display: none;
}
.section-clients .review-container {
  /*
  align-items: flex-start;
  margin: 0;
  overflow-x: scroll;
  position: relative;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  display: flex;
  scroll-padding: 0;
  padding-bottom: 16px;
  width: 100%;
  gap: 16px;
  */
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  scroll-padding: 0;
  padding-bottom: 16px;
  width: 100%;
  gap: 24px;
  margin: 24px 0 0 0;
  padding: 0 80px 40px 80px;
}
@media only screen and (max-width: 1400px) {
  .section-clients .review-container {
    grid-template-columns: 1fr;
    padding: 0 24px 40px 24px;
  }
}
.section-clients .review-container .col-one,
.section-clients .review-container .col-two,
.section-clients .review-container .col-three {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section-clients .review-container .contain-the-review {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-clients .review-container .card-review {
  max-width: var(--width-site);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: linear-gradient(180deg, white, var(--component));
  border: 2px solid #eee1d5;
  padding: 24px;
  margin: 0;
  gap: 16px;
}
@media only screen and (max-width: 1400px) {
  .section-clients .review-container .card-review {
    grid-template-columns: 1fr;
  }
}
.section-clients .review-container .card-review .left-side {
  display: flex;
  flex-direction: column;
  gap: 8px;
  white-space: normal;
}
.section-clients .review-container .card-review blockquote {
  font-family: var(--baskerville);
  margin: 0;
  padding: 0;
  white-space: normal;
}

.section-contact {
  margin: 80px auto 0 auto;
  background: linear-gradient(300deg, var(--bgmain), var(--component));
  border: 2px solid #eee1d5;
  padding: 32px;
  background-image: url("https://images.unsplash.com/photo-1702635396989-820636094313?q=80&w=6000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  .section-contact {
    padding: 16px;
  }
}
.section-contact .grand-titre {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 24px;
  text-align: left;
}
.section-contact .grand-titre img {
  width: 80px;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .section-contact .grand-titre {
    grid-template-columns: 1fr;
  }
}
.section-contact .contain-contacts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin: 0;
  padding: 24px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border: 2px solid #eee1d5;
}
.section-contact .contain-contacts h4 {
  font-size: var(--fs-h2);
}
.section-contact .contain-contacts .mail,
.section-contact .contain-contacts .telephone,
.section-contact .contain-contacts .adresse {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section-contact .contain-contacts .mail p,
.section-contact .contain-contacts .telephone p,
.section-contact .contain-contacts .adresse p {
  font-size: var(--fs-h3);
}
.section-contact .contain-contacts .mail .buttons-mails,
.section-contact .contain-contacts .telephone .buttons-mails,
.section-contact .contain-contacts .adresse .buttons-mails {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}

#toast {
  visibility: hidden;
  min-width: 200px;
  background-color: var(--black1);
  color: white;
  border: 2px solid white;
  text-align: center;
  border-radius: 0;
  padding: 12px 20px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#toast.show {
  visibility: visible;
  opacity: 1;
}

.hermetis-section {
  margin: 80px 0 0 0;
  background-color: #2b1715;
  max-width: 100vw;
  width: 100%;
  color: white;
  padding: 80px 0;
  background-image: url("https://images.unsplash.com/photo-1728506972831-193841eb2961?q=80&w=6345&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hermetis-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(19, 10, 9, 0.7);
}
.hermetis-section .content-hermetis {
  max-width: var(--width-site);
  margin: auto;
  background-color: rgba(19, 10, 9, 0.8);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  padding: 32px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}
.hermetis-section .content-hermetis .grand-titre {
  max-width: var(--width-site);
  margin: 0 auto 24px 0;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 24px;
  text-align: left;
  color: white;
}
@media only screen and (max-width: 600px) {
  .hermetis-section .content-hermetis .grand-titre {
    grid-template-columns: 1fr;
  }
}
.hermetis-section .content-hermetis .grand-titre img {
  width: 80px;
  height: auto;
}
.hermetis-section .content-hermetis .grand-titre p {
  margin-top: 16px;
}
.hermetis-section .content-hermetis p {
  color: white;
}

ul {
  margin: 8px 0;
  padding: 0 0 0 24px;
}
ul li {
  margin: 8px 0;
}

footer {
  display: flex;
  text-align: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}
footer p {
  max-width: var(--width-site);
  color: white;
  padding: 0;
  margin: 0;
}
footer a {
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--black3);
}
footer a:visited {
  color: white;
}
@media (hover: hover) {
  footer a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
  }
}

.cg {
  padding: 0 24px 80px 24px;
}

body.cg-body::before {
  background-image: none;
}/*# sourceMappingURL=style.css.map */